<h3>Listado</h3>
<hr />
<ul class="list-group">
  <li
    *ngFor="
      let personaje of personajes;
      let i = index;
      let isLast = last;
      let isFirst = first;
      let isEven = even
      let isOdd = odd
    "
    class="list-group-item d-flex justify-content-between align-items-center "
    [ngClass]="{ 'list-group-item-warning': isEven, 'list-group-item-secondary': isOdd }"
  >
  <div>
    <span class="text-primary">{{ i + 1 }}. </span>
    <span>{{ personaje.nombre }} - </span>
    <strong>Power: </strong>
    <span>{{ personaje.poder | number }}</span>
  </div>
    <button class="btn btn-danger" (click)="delete(personaje.id!)">X</button>
  </li>
</ul>
